:root {
   /* Текстові кольори */
--main-txt-color: #757575;
--header-color: #212121;
--accent-color: #2196F3;
--txt-color: #FFFFFF;
--add-color: rgba(255, 255, 255, 0.6);

/* Фонові кольри */
--main-bg-color: #FFFFFF;
--section-bg-color: #2F303A;
--add-bg-color: #F5F4FA;

/* Інше */
}


/* Стилі для index.html */
body {
    color: var(--main-txt-color);
    background-color: var(--main-bg-color);
    font-family: 'Roboto';
        font-size: 14px;
        /* line-height: calc(24/14);    */
        letter-spacing: 0.03em;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;

}

/* Шапка */
.section-header {
border-bottom: 1px solid #ECECEC;
} 
    
    
    

.header-box {
    display: flex;
    width: 1200px;
        padding-right: 15px;
        padding-left: 15px;
        align-items: center;


}



.link-header {
    color: black;
    text-decoration: none;
    font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: calc(31/26);  
        letter-spacing: 0.03em;
        margin-right: 93px;
            padding-top: 24px;
            padding-bottom: 25px;
}
.logo {
    color: var(--accent-color);
    margin-top: 0;
        margin-bottom: 0;
    
}

.list {

    margin: 0;

}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Навігація */

.nav {
    margin-right: auto;


}

.nav-list {
    display: flex;
    gap: 50px;
    padding: 0;
    align-items: center;

}


.current {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    
    

}


.nav-item {
    display: block;
     margin-top: 32px;
     margin-bottom: 32px;
    
}



.list-contacts {
    display: flex;    
    align-items: center;    
    gap: 50px;
    
    
}

.nav, .link {
    color: var(--header-color);
    font-weight: 500;
    display: block;
    align-items: baseline;

}

.current {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;


}
.nav .link:hover,
.nav .link:focus {
    color: var(--accent-color);
    
}




  .link-mail:hover,
 .link-mail:focus,
 .link-tel:hover,
 .link-tel:focus {
    color: var(--accent-color); 
} 
.link-mail {
    color: var(--main-txt-color);
    text-decoration: none;
    font-weight: 500;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    padding: 32px 0;
}


 .link-tel:hover {
    color: var(--accent-color);
} 

.link-tel {
    color: var(--main-txt-color);
    font-weight: 500;
        line-height: calc(16/14);
        letter-spacing: 0.02em;
        text-decoration: none;
        padding: 32px 0;
        display: flex;
}

.link-mail,
.link-tel {
    display:block
}

.mail-icon {
    fill: currentColor;
    margin-right: 10px;

}
.tel-icon {
    fill: currentColor;
    margin-right: 10px;
}




/* Hero */
.section-hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image:linear-gradient(to right, rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;
        font-weight: 900;
        font-size: 44px;
        line-height: calc(60/44);
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--txt-color);
        margin-right: auto;
            margin-left: auto;
            width: 696px;
            text-align: center;
            padding: 0;
            

}

.section-hero, 
.section-footer {
    background-color: var(--section-bg-color);
    color: var(--txt-color);
}

.button{
    background-color: var(--accent-color);
    color: var(--txt-color);
    font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: calc(30/16);   
        letter-spacing: 0.06em;
        cursor: pointer;
        border-radius: 4px;
        padding: 10px 32px;
        text-align: center;
        border: 1px solid transparent;
        display: block;
        margin-right: auto;
        margin-left: auto;
       
}


/* Feature */


.feature-list {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
}

/* .feature-item {
    
} */

.feature-item :not(:nth-last-child) {
    margin-right: 30px;
}

.feature-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
        height: 120px;
         border: transparent; 
        border-radius: 4px;
        background-color: var(--add-bg-color);
        margin-bottom: 30px;
        
    
    
}

.features {
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16/14);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--header-color);
        margin-top: 0;
        margin-bottom: 10px;
        padding: 0;
}

.title {
        font-weight: 700;
        font-size: 36px;
        line-height: calc(42/36);
        letter-spacing: 0.03em;
        color: var(--header-color);
            text-align: center;
            padding: 0;
            margin-top: 0;
                margin-bottom: 50px;

}

.subtitle {
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;

}

/* Чим ми займаємося */

.work-list {
    display: flex;
    gap: 30px;
    padding: 0;
        
        
}

.section-work {
    
    padding-top: 0;
    padding-bottom: 94px;
    
    
}

/* Наша команда */
.section-about {
    background-color: var(--add-bg-color);
    margin-top: 0;
    margin-bottom: 0;
} 

.container-team {
    justify-content: space-evenly;
    
}

.team-list {
    display: flex;
    gap: 30px;
    padding: 0;
}

.team-item {
    background-color: var(--main-bg-color);
    box-shadow: 0px 1px 1px
    rgba(0, 0, 0, 0.12),
    0px 4px 4px
    rgba(0, 0, 0, 0.06),
    1px 4px 6px 
    rgba(0, 0, 0, 0.16);
  
}

.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}



.social-item {
    display: inline-block;
    margin: 0;
    /* padding-bottom: 30px;
    align-items: center; */
    
    
}

.social-link {
    display: flex;
    align-items: center;
        justify-content: center;
    fill: #AFB1B8;
     width: 44px;
     height: 44px; 
    border-radius: 50%;   
     gap: 10px; 
    

}

.social-link:hover,
.social-link:focus {
    fill: var(--txt-color);
    background-color: var(--accent-color);
}

.team {
        font-weight: 500;
        font-size: 16px;
        line-height: calc(19/16);
        letter-spacing: 0.03em;
        color: var(--header-color);
        margin: 0;
        margin-bottom: 10px;
        
}



.team-text {
   
text-align: center;
 padding-top: 30px;
 padding-bottom: 30px;  

}

.team-subtitle {
    font-size: 16px;
    line-height: calc(19/16);
    letter-spacing: 0.03em;
    margin-top: 0;
         margin-bottom: 16; 
         
}



.link {
    text-decoration: none;
}


/* Постійні клієнти */

.section-clients {
   
    justify-content: center;
}

.client-title {
    
    font-weight: 700;
        font-size: 36px;
        line-height: calc(42/36);
        letter-spacing: 0.03em;
        color: var(--header-color);
        text-align: center;
        padding: 0;
        margin: 0;
        margin-bottom: 50px;
}

.client-list {
  display: flex;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
}

.client-link {
    display: flex;
    align-items: center;
    justify-content: center;
   fill: #AFB1B8;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
}

 .client-link:hover,
.client-link:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);;
} 



/* Підвал */
.section-footer {
    margin-top: 0;
        margin-bottom: 0;
        padding-top: 60px;
            padding-bottom: 60px;
}

.flex-container-f {
    display: flex;
    align-items: baseline;
    
    
    
}



.footer-list {
    
    margin-left: 0;
    padding: 0;
}


.footer-link {
    font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: calc(31/26);       
        letter-spacing: 0.03em;
        color: var(--txt-color);
        text-decoration: none;
        margin-top: 20px;
}

address {
    font-style: normal;
    margin-top: 20px;

}

.paragraph {
    padding: 0;
    margin: 0;
    margin-bottom: 9px;
}



.link-footer:hover,
.link-footer:focus {
    color: var(--accent-color);
    text-decoration: none;
}

.link-footer {
    display: block;
    color: var(--add-color);
    text-decoration: none;
    font-size: 14px;
    line-height: calc(24/14);

    
}


 .footer-item :not(:nth-last-child) {
    margin-bottom: 9px;
}

.social {
    margin-left: 70px;
    
}

.social-title {
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
}
  
.social-link-f {
    display: flex;
        align-items: center;
        justify-content: center;
 width: 44px;
 height: 44px;
 background-color: rgba(255, 255, 255, 0.1);
 border-radius: 50%;
 display: flex;
    fill: var(--txt-color);
}

.social-link-f:hover,
.social-link-f:focus {
    background-color: var(--accent-color);
}
    
 








/* Стилі для portfolio.html */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



.buttons {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    padding: 0;    
    gap: 8px;
    

}
.buttons .c-buttons:last-child {
    margin-right: 0px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-left: 0;  
      
}

.flex-element {
    width: 370px;
}

.flex-element:nth-child(3n) {
    margin-right: 0px;
}

.flex-element:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.flex-element:hover {
    
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
        
}

.flex-item {
    margin: 0;
    
}



.c-button {
    
background-color : var(--add-bg-color);
color: var(--header-color);
font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    letter-spacing: 0.03em;
cursor: pointer;
border-radius: 4px;
padding: 6px 22px;
text-align: center;
border: 1px solid transparent;

}

.c-button:hover,
.c-button:focus {
    box-shadow: 0px 1px 1px
    rgba(0, 0, 0, 0.12),
    0px 4px 4px
    rgba(0, 0, 0, 0.06),
    1px 4px 6px
    rgba(0, 0, 0, 0.16);
}


.description {
   
border: 1px solid #ECECEC;
border-top: none;
padding: 20px 24px;

}


.c-button:hover,
.c-button:focus {
background-color: var(--accent-color);
color: var(--txt-color);
}

.pr-title {
    color: var(--header-color);
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;
    margin: 0;
    margin-bottom: 4px;
    padding: 0;
}

.subtext {
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.03em;
    padding: 0;
    margin: 0;
    
   
}




    

   
